services:
  backend:
   build: ./backend
   ports:
    - "8000:8000"
   networks:
    - onecart

  frontend:
   build: ./frontend
   ports:
    - "5173:5173"
   depends_on:
    - backend
   networks:
    - onecart

  admin:
   build: ./admin
   ports:
    - "5174:5174"
   depends_on:
    - backend
   networks:
    - onecart
   
    
networks:
 onecart:
  driver: bridge
